<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="cad.php" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />

    <!-- cad_saves 접근 차단 -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="cad_saves" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
